.dropdown-guest
  .dropdown-guest__top
    .dropdown-guest__text.body-font Сколько гостей
    .dropdown-guest__expand
      img.expand__img(src="expand-more.png", alt="")
    .dropdown__select
      .dropdown-guest__select-one
        .select-one__text.h3-font взрослые
        button.select-one__but-minus -
        .select-one__guest.h3-font 2
        button.select-one__but-plus +
      .dropdown-guest__select-two
        .select-two__text.h3-font дети
        button.select-two__but-minus -
        .select-two__guest.h3-font 2
        button.select-two__but-plus +
      .dropdown-guest__select-three
        .select-three__text.h3-font младенцы
        button.select-three__but-minus -
        .select-three__guest.h3-font 2
        button.select-three__but-plus +
      .dropdown-guest__down
        button.down__cancel.h3-font Очистить 
         button.down__ok.h3-font Применить

      