html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap" rel="stylesheet">
    link(rel="stylesheet", href="dropdown-guest.css")
    link(rel="stylesheet", href="h3-font.css")
    link(rel="stylesheet", href="body-font.css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="dropdown-guest.js"></script>
  body
    .dropdown-guest
      .dropdown-guest__top
        .dropdown-guest__text.body-font Сколько гостей
        .dropdown-guest__expand
          img.expand__img(src="expand-more.png", alt="")
        .dropdown__select
          .dropdown-guest__select-one
            .select-one__text.h3-font взрослые
            button.select-one__but-minus -
            .select-one__guest.h3-font 2
            button.select-one__but-plus +
          .dropdown-guest__select-two
            .select-two__text.h3-font дети
            button.select-two__but-minus -
            .select-two__guest.h3-font 1
            button.select-two__but-plus +
          .dropdown-guest__select-three
            .select-three__text.h3-font младенцы
            button.select-three__but-minus -
            .select-three__guest.h3-font 0
            button.select-three__but-plus +
          .dropdown-guest__down
            button.down__cancel.h3-font Очистить 
            button.down__ok.h3-font Применить

      