.body {
  background-image: url(./img/Landing.png);
}
/*Шапка*/
.container_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: white;
}
.logo {
  position: absolute;
  top: 15px;
  left: 10%;
}
.logo_a {

}
.logo_a_img {
  width: 105.69px;
  height: 40px;
}
.nav {
  position: absolute;
  top: 10px;
  right: 5%
}
.nav_ul {

}
.nav_ul_li {
  display: inline;
  margin-right: 10px;
}

/*Тело*/
.main {
  position: absolute;
  top: 70px;
  left: 0;
}
.main_searchForm {

}
.main_text {

}

/*Подвал*/
.footer {}
.footer_top {}
.footer_top_one {}
.footer_top_one_ul {}
.footer_top_one_ul_li {}
.logoBottom_a {}
.logoBottom_a_img {}
.footer_top_two {}
.footer_top_two_ul {}
.footer_top_two_ul_li {}
.footer_top_three {}
.footer_top_three_ul {}
.footer_top_three_ul_li {}
.footer_top_four {}
.footer_top_four_ul {}
.footer_top_four_ul_li {}
.footer_top_five {}
.footer_top_five_ul {}
.footer_top_five_ul_li {}
.formEmail {}
.footer_bottom {}
.footer_bottom_text {}
.footer_bottom_a {}
