html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap" rel="stylesheet">
    link(rel="stylesheet", href="dropdown-room.css")
    link(rel="stylesheet", href="body-font.css")
    link(rel="stylesheet", href="h3-font.css")
    link(rel="stylesheet", href="h2-font.css")
    link(rel="stylesheet", href="h1-font.css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="dropdown-room.js"></script>
  body