<!-- header toxin -->
.header
  .logo
  .header__nav
    ul
      li:a(class='header__link' href='#') О нас
      li:a(class='header__link' href='#') Услуги
        ul.header__submenu
          li.header__submenu-item
            a(class='header__link' href='#') Парим
          li.header__submenu-item
            a(class='header__link' href='#') Варим
          li.header__submenu-item
            a(class='header__link' href='#') Жарим
      li:a(class='header__link' href='#') Вакансии
      li:a(class='header__link' href='#') Новости
      li:a(class='header__link' href='#') Соглашения
        ul.header__submenu
          li.header__submenu-item
            a(class='header__link' href='#') Соглашение1
          li.header__submenu-item
            a(class='header__link' href='#') Соглашение 2
          li.header__submenu-item
            a(class='header__link' href='#') Соглашение 3
  .header__button-login
  .header__button-register
