.dropdown-guest {
  position: absolute;
  left: 10%;
  top: 10%;
}

.dropdown-guest__top {
  width: 320px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 2px;
  position: relative;
  top: 0px;
  left: 0px;
}

.dropdown-guest__text {
  position: absolute;
  top: 12.56px;
  left: 15px;
}

.dropdown-guest__expand {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0px;
  right: 0px;
}

.expand__img {
  position: absolute;
  top: 40%;
  left: 40%;
}

.dropdown__select {
  position: absolute;
  top: 42.56px;
  left: 0px;
  width: 320px;
  height: 159px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
}