html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="drop-down.css")
  body
    .dropdown-guest
      .dropdown-guest__top
        .dropdown-guest__text
        .dropdown-guest__expand
          img(src="expand-more.png", alt="")
      .dropdown-guest__select-one
        .select-one__text
        button.select-one__but-minus
        .select-one__guest
        button.select-one__but-plus
      .dropdown-guest__select-two
        .select-two__text
        button.select-two__but-minus
        .select-two__guest
        button.select-two__but-plus
      .dropdown-guest__select-three
        .select-three__text
        button.select-three__but-minus
        .select-three__guest
        button.select-three__but-plus
      .dropdown-guest__down
        button.down__cancel
        button.down__ok

      