.checkbox input[type=checkbox] {
  opacity: 0;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  left: 0px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.checkbox label::after {
  content: "";
  display: inline-block;
  height: 6px;
  width: 8px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  color: #8BA4F9;
  transform: rotate(-45deg);
}

.checkbox label {
  position: relative;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
}

.checkbox label::before {
  top: 0px;
}

.checkbox label::after {
  left: 5px;
  top: 4px;
}

.checkbox input[type=checkbox] + label::after {
  content: none;
}

.checkbox input[type=checkbox]:checked + label::after {
  content: "";
}

#checkbox_1 {
  position: absolute;
  top: 0px;
  left: 0px;
}

.checkbox__text {
  position: relative;
  left: 30px;
}