html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="header__link.css")
  body
    .header__link.--xy-header__link
      ul.menu
        li: a(href="#") О нас
        li.submenu: a(href="#") Услуги v
          ul
            li.submenu-item: a(href="#") Парим
            li.submenu-item: a(href="#") Варим
            li.submenu-item: a(href="#") Жарим
        li: a(href="#") Вакансии
        li: a(href="#") Новости
        li.submenu: a(href="#") Соглашения v
          ul
            li.submenu-item: a(href="#") Договор
            li.submenu-item: a(href="#") Офферта
            li.submenu-item: a(href="#") Сертификат