.dropdown-room
  .dropdown-room__top
    .dropdown-room__text.body-font Сколько гостей
    .dropdown-room__expand
      img.expand__img(src="expand-more.png", alt="")
  .dropdown__select
    .dropdown-room__select-one
      .select-one__text.h3-font спальни
      button.select-one__but-minus -
      .select-one__room.h3-font 2
      button.select-one__but-plus +
    .dropdown-room__select-two
      .select-two__text.h3-font кровати
      button.select-two__but-minus -
      .select-two__room.h3-font 2
      button.select-two__but-plus +
    .dropdown-room__select-three
      .select-three__text.h3-font ванные комнаты
      button.select-three__but-minus -
      .select-three__room.h3-font 2
      button.select-three__but-plus +